#project-list {
  background-color: rgb(169, 191, 255);

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.project {
  position: relative;
  list-style: none;
  width: max(350px, 70vw);
  height: max(500px, 60vh);

  background-color: rgb(169, 191, 255);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project img {
  width: 50%;
}

.project-article {
  height: 30%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.project-title {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 850px) {
  .project {
    flex-direction: column;
  }

  .project img {
    width: 80%;
  }

  .project-article {
    width: 80%;
  }
}
